.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.mainContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

.container {
  height: 500px;
  width: 350px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px 40px;
  gap: 10px;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: flex-start;
  gap: 7px 0;
}

.listContainer {
  width: 100%;
  padding: 10px 0;
}
